@using AdvertisingPortal.Core.Models.Domains;

@model ConversationViewModel

@{
    ViewData["Title"] = "Rozmowa z użytkownikiem " + Model.Interlocutor;
}

<h1>Rozmowa z użytkownikiem + Model.Interlocutor</h1>


<div class="container">
    <div id="conversation" class="row">
        @if (Model.Conversation.Messages != null && Model.Conversation.Messages.Any())
        {
            @foreach (var message in Model.Conversation.Messages)
            {
                @if (message.SenderId == Model.User.Id)
                {
                    <div class="toast align-self-end bg-secondary" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                            <strong class="me-auto">@Model.User.UserName</strong>
                        <small>@message.SendTime.ToString("f")</small>
                      </div>
                      <div class="toast-body">
                        @message.Content
                      </div>
                    </div>  
                }
                else
                {
                    <div class="toast align-self-start bg-primary" role="alert" aria-live="assertive" aria-atomic="true">
                      <div class="toast-header">
                            <strong class="me-auto">@Model.Interlocutor.UserName</strong>
                        <small>@message.SendTime.ToString("f")</small>
                      </div>
                      <div class="toast-body">
                        @message.Content
                      </div>
                    </div>  
                }
                              
            }
        }
    </div>
    <div class="row">
        <form>

        </form>
    </div>
</div>

<div class="d-flex flex-column">

</div>


